<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORKLIFT SERVICES</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>FORKLIFT SERVICES</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/services">Servicios</a>
            <a href="/products">Productos</a>
        </nav>
    </header>

    {{{body}}}

    <footer>
        Derechos Reservados - Forklift Services 2026.
    </footer>
    
</body>
</html>