{{!< main}}   <section class="container">
    <h2>LA PAGINA QUE BUSCAS, NO EXISTE</h2>
    <p class="alert">La pagina que estas buscando no EXISTE</p>

    <a href="/" class="btn-volver">Volver a Inicio</a>

</section>