{{!< main}}

<section class="chat-wrapper">

    <h2>Escribele a uno de nuestros Asesores</h2>

    <div class="chat-box">

        <div class="chat-messages" id="messages"></div>

        <div class="chat-input-area">

            <input 
                type="text" 
                id="chatInput" 
                placeholder="Escribe tu mensaje..."
                autocomplete="off"
            >

            <button id="sendBtn">Enviar</button>

            <button id="disconnectBtn" style="background-color:#d9534f; color:white;">
                Desconectar
            </button>

        </div>

    </div>

</section>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/chat.js"></script>